@use 'sass:map';

// Theme colors
@import './theme.scss';

// Resets
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
a,
ul {
  background-color: map.get($theme-colors, 'primary');
  text-decoration: none;
  list-style-type: none;
}
